{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1>Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Attachment</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>
                {% if task.attachment %}
                <a href="{{ task.attachment.url }}" target="_blank">Download</a>
                {% else %}
                No Attachment
                {% endif %}
            </td>
            <td>{{ task.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
